html {
    scroll-behavior: smooth;
    font-size: 10px;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background-image: linear-gradient(320deg,
            hsl(0deg 0% 5%) 0%,
            hsl(344deg 0% 10%) 9%,
            hsl(344deg 0% 14%) 18%,
            hsl(344deg 0% 18%) 27%,
            hsl(344deg 0% 23%) 36%,
            hsl(344deg 0% 28%) 45%,
            hsl(344deg 0% 32%) 55%,
            hsl(344deg 0% 37%) 64%,
            hsl(344deg 0% 42%) 73%,
            hsl(344deg 0% 48%) 82%,
            hsl(344deg 0% 53%) 91%,
            hsl(0deg 0% 58%) 100%);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
    position: relative;
}

#cbtf{
    margin-top: 3%;
    padding-left: 3%;
    font-size: x-large;
}
#cbtf li{
    margin-left: 10%;
}

.textfield {
    padding-top: 5%;
    color: white;
}

.textfield h2 {
    font-size: xx-large;
}

.textfield p {
    font-size: large;
}

.textfieldB {
    color: white;
}

.textfieldB h2 {
    font-size: xx-large;
}

.textfieldB p {
    font-size: large;
}

.textfieldB table {
    font-size: large;
}

.policycover {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 5%;
    width: all;
}

#policycontent{
}

#policyfield div{
    color: white;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}

#policyfield li{
    padding-left: 4%;
}







.cover {
    margin-left: 5%;
    margin-bottom: 5%;
    padding-top: 6%;
    width: all;
    /*height: 100vh;     */
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.coverA {
    padding-top: 4.5%;
    padding-bottom: 4.5%;
    width: all;
    /*height: auto;*/
    background-image: linear-gradient(315deg,
            hsl(240deg 100% 20%) 0%,
            hsl(283deg 100% 20%) 11%,
            hsl(308deg 100% 23%) 22%,
            hsl(322deg 100% 29%) 33%,
            hsl(330deg 100% 35%) 44%,
            hsl(343deg 71% 46%) 56%,
            hsl(358deg 68% 57%) 67%,
            hsl(12deg 79% 59%) 78%,
            hsl(23deg 87% 60%) 89%,
            hsl(32deg 91% 61%) 100%);
    /*background-size: 400% 400%;*/
    animation: change 10s ease-in-out infinite;
}

.contentA {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline: 5%;
}

#youtube {
    width: 100%;
    height: all;
}


.coverB {
    padding-top: 4.5%;
    padding-bottom: 4.5%;
    width: all;
    height: all;
    background-image: linear-gradient(320deg,
            hsl(0deg 0% 5%) 0%,
            hsl(344deg 0% 10%) 9%,
            hsl(344deg 0% 14%) 18%,
            hsl(344deg 0% 18%) 27%,
            hsl(344deg 0% 23%) 36%,
            hsl(344deg 0% 28%) 45%,
            hsl(344deg 0% 32%) 55%,
            hsl(344deg 0% 37%) 64%,
            hsl(344deg 0% 42%) 73%,
            hsl(344deg 0% 48%) 82%,
            hsl(344deg 0% 53%) 91%,
            hsl(0deg 0% 58%) 100%);
    background-size: 400% 400%;
    animation: change 40s ease-in-out infinite;
}

.contentB {
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
}

#contentB2 {
    margin-top: 4%;
}

.coverC {
    padding-top: 4.5%;
    padding-bottom: 4.5%;
    width: all;
    height: all;
    background-color: #1f2936;
    animation: change 10s ease-in-out infinite;
}

#contentC1 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

#contentC2 {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contentC3 {
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.coverD {
    padding-top: 4.5%;
    padding-bottom: 4.5%;
    width: all;
    height: all;
    background-image: linear-gradient(320deg,
            hsl(0deg 0% 5%) 0%,
            hsl(344deg 0% 10%) 9%,
            hsl(344deg 0% 14%) 18%,
            hsl(344deg 0% 18%) 27%,
            hsl(344deg 0% 23%) 36%,
            hsl(344deg 0% 28%) 45%,
            hsl(344deg 0% 32%) 55%,
            hsl(344deg 0% 37%) 64%,
            hsl(344deg 0% 42%) 73%,
            hsl(344deg 0% 48%) 82%,
            hsl(344deg 0% 53%) 91%,
            hsl(0deg 0% 58%) 100%);
    background-size: 400% 400%;
    animation: change 40s ease-in-out infinite;
}

.coverD,
a {
    color: azure;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
}

#contentD1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer {
    padding-top: 3.5%;
    padding-bottom: 2.5%;
    background-color: #1f2936;
    width: all;
    height: auto;
}

#contentF1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contentF2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contentF3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
    color: white;
}




.soical {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.fa-facebook {
    color: rgb(59, 91, 152);
}

.fa-instagram {
    color: rgb(255, 145, 0);
}

.fa-youtube {
    color: rgb(255, 8, 8);
}


section {
    height: all;
    padding-top: 0px;
}

.sticky {}

.fixed {
    background: rgba(139, 135, 139, 0.342);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.addspace {
    padding-top: 84px;
}

#OLDheader {
    float: left;
}

.OLDnav {
    float: right;
    padding-top: 30px;
}

#header {
    display: flex;
    justify-content: space-around;
}

.nav {
    padding-top: 30px;
}

.nava {
    color: azure;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
}

#navHome {
    color: burlywood;
}

.logoimage {
    width: 140px;
    height: 80px;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@media screen and (max-width: 1000px) {
    img {
        display: none;
    }

    .cover {
        height: 500px;
        margin-left: 0%;
        padding-top: 0%;
    }

    .content {
        margin-left: 0%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .coverA {
        height: 500px;
    }

    .contentA {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #youtube {
        width: 100%;
        height: 100%;
    }

    #contentA2 {
        margin-top: 6%;
    }

    .coverB {
        height: 500px;
    }
}